apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  type: ClusterIP
  selector:
    app: demo-backend
  ports:
    - port: 5000
      targetPort: 5000
      protocol: TCP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-backend
  template:
    metadata:
      labels:
        app: demo-backend
    spec:
      containers:
        - name: backend-container
          image: awsdevops183/k8s-demo:v1
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          volumeMounts:
            - name: db-volume
              mountPath: /data
      volumes:
        - name: db-volume
          emptyDir: {}   # demo DB (lost if pod deleted, but fine for demo)
